* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    color: white;
}

#main {
    color: white;
}

#main h1{
    color: #8b3651;
    margin: 1.5em 1.5em;
    text-align: center;
}

.container {
    padding: 10px 5%;
    margin: 20px 10px;
}

video{
    width: 100%;
}

#main h2{
    font-weight: 500;
}

#description p{
    color: rgb(225, 213, 213);
}

#main ul{
    padding: 0 2%;
}

#main ul li{
    color: rgb(225, 213, 213);
}

#architecture div{
    text-align: center;
}

#architecture div img{
    width: 100%;
}

#footer {
    padding: 1%;
    text-align: center;
    background-color: #262626;
}

#copyright {
    color: white;
}