* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    color: white;
}

#main {
    color: white;
}

.container {
    padding: 10px 5%;
    margin: 20px 0;
}

video{
    width: 100%;
    padding: 10px 5%;
}